# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

#envairoment variables
.env

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# files .md
US-02-HOME-SEARCH.md
US-03-PUBLISH-LISTING.md
US-04-EDIT-LISTING.md
US-05-REQUEST-BOOKING.md
US-06-REVIEW-BOOKING.md
US-09-MODERATION-QUEUE.md